body{
    margin: 0 auto;
}
#debug{
    position: absolute;
}

img{
    width: 40px;
}

h1{
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    font-size: 64px;
    font-weight: 200;
    font-family: "Roboto";
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    line-height: 100vh;
    line-height: calc(var(--vh, 1vh) * 100);
    vertical-align: middle;
    opacity: 0.9;
}
@media (max-width:767px) {
    h1{
        height: 85vh;
        line-height: 85vh;
    }
}

.sec{
    opacity: 0.4;
}

.info{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0.4;
}
.info img{
    width: 24px;
}
.info a{
    display: inline-block;
    padding: 24px;
}

.status{
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    bottom: 15vh;
    bottom: calc(var(--vh, 1vh) * 15);
    opacity: 0.4;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 200;

}

.wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow: auto;
}

#pad{
    height: 30000px;
}